<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="culture">
            <h2 *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Culture</span> {{ culture.id }}</h2>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Era</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>{{ culture.era }}</span>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Kind</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>{{ culture.kind }}</span>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Image</span></dt>
                <dd>
                    <div *ngIf="culture.image">
                        <a (click)="openFile(culture.imageContentType, culture.image)">
                            <img [src]="'data:' + culture.imageContentType + ';base64,' + culture.image" style="max-width: 100%;" alt="culture image"/>
                        </a>
                        <span *jhiHasAnyAuthority="'ROLE_ADMIN'">{{ culture.imageContentType }}, {{ byteSize(culture.image) }}</span>
                    </div>
                </dd>

            </dl>

            <div class="row">
                <div class="col-sm-4" style="text-align: center;"><span>{{ culture.name }}</span></div>
                <div class="col-sm-4" style="text-align: center;"><span class="badge badge-light">{{ culture.unit }}</span></div>
                <div class="col-sm-4" style="text-align: center;"><span class="badge badge-light">{{ culture.quarter }}</span></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4" style="text-align: center;" [ngSwitch]="culture.kind">
                    <span *ngSwitchCase="'EXPANSIONIST'">Ekspancjoniści</span>
                    <span *ngSwitchCase="'SCIENTIST'">Naukowcy</span>
                    <span *ngSwitchCase="'BUILDER'">Budowniczy</span>
                    <span *ngSwitchCase="'AGRARIAN'">Rolnicy</span>
                    <span *ngSwitchCase="'WARMONGER'">Podżegacze wojenni</span>
                    <span *ngSwitchCase="'MERCHANT'">Kupcy</span>
                    <span *ngSwitchCase="'AESTHETE'">Esteci</span>
                    <span *ngSwitchCase="'MILITARIST'">Militaryści</span>
                </div>
                <div class="col-sm-4"><p>{{ culture.unitDescription }}</p></div>
                <div class="col-sm-4"><p>{{ culture.quarterDescription }}</p></div>

            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Wstecz</span>
            </button>

            <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/culture', culture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
